@CHARSET "UTF-8";

html {
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%; height: 100%;
}
body {
	position: relative;
	padding-top: 50px !important;
	margin: 0px !important;
	width: 100%;
	height: 100%;
	background: #f1f2f7;
	font-size: 13px;
}
textarea { resize: none; }
ul { padding: 0; }
ul li { list-style: none; }
.container {
	width: 100%;
	height: 100%;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
.badge.jb-c-bg-important {
	background: #ff6c60;
}
.badge.jb-c-bg-success {
	background: #a9d86e;
}

.jb-c-content {
	height: 100%;
}
.jb-c-box {
	border:1px solid #C4C5C7;
	padding: 5px;
}
.jb-c-rbox {
	border:1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	overflow-y: auto;
}
<!-- chatting room name list -->
.jb-c-roomname {
	padding-left: 0.5em;
}
.jb-c-roomlist {
	height: 25px;
	font-size: 15px;
	padding: 3px 0;
}
.jb-c-roomlist .badge {
	margin: 1px 0;
}
.jb-c-roomlist.active {
	height: 35px;
	font-size: 20px;
	padding: 5px;
	margin: 0 -5px;
	background: #fff;
}
.jb-c-roomlist.active .badge {
	margin: 4px 0;
}
.jb-c-roomlist.active .close {
	margin: 2px 0;
}
<!-- chatting room main -->

<!-- ping modal -->

.jb-c-tag-input { padding-bottom: 5px; }
.jb-c-tag-user-list { padding-right: 5px; }
.jb-c-tag-list{
	position: absolute;
	border: 1px solid;
	padding: 5px 10px 0 10px;
	background: white;
	width: 100%;
	z-index: 100;
	font-size: 15px;
	cursor: pointer;
}
.jb-c-tag-input { padding-bottom: 5px; }
