@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	padding-top: 150px;
	font: normal normal normal 15px 'Nanum Gothic';
}

textarea { resize: vertical; }

.jb-title-font {
	font: normal normal normal 50px 'fredericka the great', fantasy;
}

.jb-summary-unit{
	font: normal normal normal 15px 'Nanum Gothic';
	margin: 10px;
	padding: 6px 10px 1px 10px;
	color: #fff;
	background-color: #5bc0de;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px;
	box-shadow: none;
	float: left;
}

.jb-ping-tag-list{
	margin-top: 1em;
	padding-left: 0;
	list-style: none;
}

.jb-ping-tag-listitem{
	display: inline;
}

.jb-ping-target-list{
	margin-top: 1em;
	padding-left: 0;
	list-style: none;
}

.jb-ping-target-listitem{
	display: inline;
}